body {
    background-color: #eb2f64;
}

.container {
    max-width: 1200px;
    margin: 8rem auto;
    box-shadow: 0 2rem 6rem rgba(0,0,0,.3);
    min-height: 50rem;
    background-color: #f4f9f9

}

.header {
    height: 7rem;
    background-color: #fff
}

.content {
    display:flex;
}

.sidebar {
    background-color:#333;
    flex: 0 0 18%;

}

.main-view {
    background-color: #fff;
    flex:1;
    background-color: orangered;

}