body {
    background-color: #eb2f64;
}

.container {
    max-width: 1200px;
    margin: 8rem auto;
    box-shadow: 0 2rem 6rem rgba(0,0,0,.3);
    min-height: 50rem;
    background-color: #f4f9f9

}

.header {
    height: 7rem;
    background-color: #fff
}

.content {
    display:flex;
}

.sidebar {
    background-color:#333;
    flex: 0 0 18%;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 50rem;

}

.main-view {
    background-color: #fff;
    flex:1;
    /* test */
   
    background-color: orangered;

}

/* SIDE BAR NAV */

.sidebar-nav{
font-size: 1.4rem;
margin-top: 3.5rem;
list-style: none;
}
.sidebar-nav__link {
    width: 100%;
    margin:auto;
}
.sidebar-nav__btn{
  margin-top: 2rem;
  border: none;
  background: transparent;
  color: #f4f9f9;
  width:80%;
  text-transform: uppercase;
  text-align: left;
  font-size:1.4rem;
}
.sidebar-nav__btn--active{
  margin-top: 2rem;
  border: none;
  background: transparent;
  color:#808585;
  width:80%;
  text-transform: uppercase;
  text-align: left;
  font-size:1.4rem;
}
